<!DOCTYPE html>
<html lang = "es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Registrar pago estudiante</title>
</head>
<body>
<h1 class="text-3xl mb-4 font-bold">Registrar pago estudiante</h1>
<form class="flex flex-col gap-3 w-fit" th:action="@{/razones/planilla}" method="POST">
    <p class="text-gray-900">
        Atención!, esta acción solo se puede realizar una vez antes de cada proceso de pago de arancel.
        Cuando comience el proceso de pago de arancel, ya no estará habilitado para hacerlo.
        Procure realizar el calculo de planilla mensual correspondiente para poder aplicar descuentos por puntajes de examenes e interes por meses de atraso en pago de arancel.
    </p>
    <button type="submit" class="border-2 border-solid bg-blue-500 text-white font-medium py-3 px-2 uppercase pointer">Calcular planilla</button>
</form>
</body>
</html>