
<ul th:fragment="navbar" style="display: flex; gap:25px">
    <li><a href="/estudiantes/ingresar">Ingresar estudiante</a></li>
    <li><a href="/razones/generar">Generar cuotas de pago</a></li>
    <li><a href="/razones/ingresar-estudiante">Listar cuotas estudiante</a></li>
    <li><a href="/pagos/registrar/ingresar-estudiante">Registrar pagos estudiante</a></li>
    <li><a href="/examenes/importar">Importar examen</a></li>
    <li><a href="/razones/planilla/calcular">Calcular planilla</a></li>
    <li><a href="/pagos/reporte">Reporte resumen</a></li>
</ul>
